<?xml version='1.0' encoding='utf-8'?>
<widget id="com.amiel.ClickerApp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ClickerApp</name>
    <description>
      BLE receiver for the clicker box (http://github.com/amiel/clicker-box)
    </description>
    <author email="amiel.martin@gmail.com" href="http://amielmartin.com">
      Amiel Martin
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="DisallowOverscroll" value="true" />
</widget>
