
<div class="content-block-title">Sessions</div>

<div class="list-block">
  <ul>
    {{#each session in sessions}}
      <li>
        {{#link-to "session" session.id class="item-content item-link"}}
          <div class="item-inner">
            <div class="item-title">
              {{format-time session.startAt}}
            </div>
            <div class="item-after">
              {{format-duration session.duration}}
            </div>
          </div>
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
</div>



