<div class="statusbar-overlay"></div>

<div class="views">
  <div class="view view-main">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
          {{#if backButton}}
            <a {{action "back"}} class="link">
              <i class="icon icon-back"></i>
              <span>Back</span>
            </a>
          {{/if}}
        </div>
        <div class="center">Clicker App</div>
        <div class="right">&nbsp;</div>
      </div>
    </div>

    <div class="pages navbar-through toolbar-through">
      <div data-page="index" class="page">
        <div class="page-content">
          {{liquid-outlet name="main"}}
        </div>
      </div>
    </div>

  </div>
</div>

{{liquid-outlet modal}}
