
<div class="content-block">
  <p>{{link-to "Connect to device" "devices" class="button button-fill"}}</p>
</div>


<div class="content-block-title">Sessions</div>
<div class="list-block">
  {{#each sessions in sessionsGroupedByDay}}
    <div class="list-group">
      {{partial 'sessions'}}
    </div>
  {{/each}}
</div>

{{outlet}}
